*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.nav{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_logo{
    height: 50px;
    width: 100px;
   
}
.deliver{
    display: flex;
}
.logo{
    background-image: url(amazon_logo.png);
background-size: cover;
height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.deliver-external{
    align-items: center;
    justify-content: center;
}

.add{
    margin-left: 15px;
   
    color: #cccccc;
    font-size: 0.85rem;
}
.search{
    display: flex;
    width: 490px;
    height: 40px;

    
}
.select{
    border-top-left-radius: 5px; /* Rounded top-left corner */
    border-bottom-left-radius: 5px; /* Rounded bottom-left corner */
}
.inp{
   width: 100%;
   
   font-size: 1.3rem;
}
.search-logo{
  width: 45px;
  display: flex;
  font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 174, 0);
    border-top-right-radius: 4px; /* Rounded top-left corner */
    border-bottom-right-radius: 4px; /* Rounded bottom-left corner */


}
.hellow{
    font-size: 12px;;
}
.acc{
    font-size: 14px;
    font-weight: 700px;
}
.search:hover{
border:2px solid orange;
}
.cart{
    font-size: 1.5rem;
}
.add{
    font-size: 1rem;
}
.pannel {

    height: 39px;
    background-color: #0f1111d2;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.90rem;
    font-weight: 400;
}
.all{
    font-size: 1rem;
   
}
.ops p{
    display: inline;
    margin-left: 15px;
    
}
.ops{
    width: 75%;
}
.hero{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 350px;
}
.box{
    height: 400px;
    
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;
}
.shopping{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.img1{
    background-size: cover;
    height: 300px;
background-image: url(box2_image.jpg);
margin-top: 15px;
margin-bottom: 20px;
}
.box-con{
    margin-left: 10px;
    margin-right: 10px;

}
.box-con p{
    color: #007185;
}
.img2{
    background-size: cover;
    height: 300px;
background-image: url(box1_image.jpg);
margin-top: 15px;
margin-bottom: 20px;
}
.img3{
    background-size: cover;
    height: 300px;
background-image: url(box3_image.jpg);
margin-top: 15px;
margin-bottom: 20px;
}
.img4{
    background-size: cover;
    height: 300px;
background-image: url(box4_image.jpg);
margin-top: 15px;
margin-bottom: 20px;
}
.img5{
    background-size: cover;
    height: 300px;
background-image: url(box5_image.jpg);
margin-top: 15px;
margin-bottom: 20px;
}
.img6{
    background-size: cover;
    height: 300px;
background-image: url(box6_image.jpg);
margin-top: 15px;
margin-bottom: 20px;
}
.img7{
    background-size: cover;
    height: 300px;
background-image: url(box7_image.jpg);
margin-top: 15px;
margin-bottom: 20px;
}
.img8{
    background-size: cover;
    height: 300px;
background-image: url(box8_image.jpg);
margin-top: 15px;
margin-bottom: 20px;
}
.x {
    margin-top: 15px;
    height: 50px;
    background-color: #37475a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.y{
    color: #dddddd;
    background-color: #222f3d;
    height: 350px;  
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    
}
u{
    margin-top: 15px;
}
footer a {
    margin-top: 15px;
    display: block;
  }
  .z{
    border-top: 2px solid white;
    background-color: #222f3d;
    color: white;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .z-logo{
    background-image: url(amazon_logo.png);
background-size: cover;
height: 50px;
   width: 100px;
  }
  