div{
    height: 100px;
    width: 100px;
  
    display: inline-block;
    border: 2px solid black;

}
#container{

height: 200px;
width: 800px;
display:flex;
flex-direction: row-reverse;

}

body{
    text-align: center;
}